
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

}
.main-container{
  background-color: #000000d6;
  width:100%;
   height:100%; 
  /* overflow: hidden; */
  /* overflow: auto;  */
}
.main-div li{
  list-style-type: none;
}
.nav-bar li a{
  text-decoration: none;
  color:white;
  position:relative;
  /* text-transform: uppercase; */
  transition: 0.3s;
}
.nav-bar li a::after{
  content: "";
  position: absolute;
  background-color: #5db9ee;
  width:100%; 
  height:.1rem;
  left:0;
  bottom:-5px;
  transform: scaleX(0);
  transition: transform .5s;
}
.nav-bar li a:hover::after{
  transform: scaleX(1);
  text-transform: uppercase;
}
.main-container {
  width: 100%;
  overflow-x: hidden;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.nav-content {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 20px;
  margin:10px 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.toggle-btn {
  display: none;
  color: #fff;
  font-size: 24px;
}

#check {
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  gap:20px;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 768px) {
  .toggle-btn {
    display: block;
  }
  .nav-bar {
    
      padding: 0px;
  }
  .nav-content {
      margin: 10px !important;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  #check:checked ~ .nav-links {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
 .profile{
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 80px;
  margin-bottom: 20px;
}
.profile .heading{
  color:white;
  margin-left: 40px;
}
.heading p{
  font-size:1.2rem ;
}
.heading h1{
  color:#0ef;
  font-weight: 700;
  font-size: 35px;
  width: 40%;
  margin-bottom: 10px;
  overflow: hidden; 
  border-right: 2px solid white; 
  white-space: nowrap;  
  animation: typing 4s steps(15) infinite, blink-caret .60s  ; 
}
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
  
}
 @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:white}
} 
.heading h4{
  font-size: 3rem;

}
.profile img{
  width:350px;
  height:350px;
  border-radius: 50%;
  border:2px solid #0ef;
  box-shadow: 0px 0px 1rem #0ef,inset 0 0 1rem #0ef;
  margin-top: 30px;
}
.my-image{
  margin-right: 70px;  
}
.my-name{
  color:#0ef;
  font-weight: 700;
}
.social-web-container{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  gap:60px;
  flex-wrap: wrap;
}
.social-web-container h4{
  color:white;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.social-container,.stack-container {
  margin-top: 40px;
}
.social-container  h5{
  margin-bottom: 15px;
  
}
.stack-container  h5{
  margin-bottom: 15px;
  
}
.social-div{
  display: flex;
  justify-content: space-around;
}
.social-container .icon {
  margin-right: 20px; 
  background-color: black;
  border:2px solid #0ef;
  border-radius: 50%;
  padding:10px;
  color:#0ef;
  font-size: 15px;
}
.social-container .icon:hover{
  border:2px solid #0ef;
  color:#0ef;
  box-shadow: 0 0 20px #0ef;
  box-shadow: inset 0 0 20px #0ef, 0 0 20px #5db9ee;
}
.stack-container .icon{
  margin-right: 20px; 
  background-color: black;
  border:2px solid #0ef;
  border-radius: 50%;
  padding:10px;
  font-size: 2.4rem;
  color:#0ef;
}
.stack-container .icon:hover{
  border:2px solid #0ef;
  color:#0ef;
  box-shadow: 0 0 20px #0ef;
  box-shadow: inset 0 0 20px #0ef, 0 0 20px #5db9ee;
}
.skill-container{
  text-align: center;
  color:white;
  margin-top: 60px;
  margin-left: 18%;
  margin-right: 18%;
}
.skill-container h3{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
}
.skill-set-div{
  margin:auto;
  margin-top:40px;
  color:white;
  display:flex;
  flex-direction: row;
  gap:20px;
  width:100%;
  justify-content:center;
  flex-wrap: wrap;
}
.skill-set-div h5{
  margin-bottom: 16px;
  margin-left: 5px;
  text-shadow:2px 2px 6px #0ef;
}
.skill-set-div div ul{
  list-style-type: none;
  padding-left: 0px;
  line-height: 30px;
  box-sizing: border-box;
}
.skill-set-div li::before{
  content:"\2714";
  color:#0ef;
  margin-right:5px ;
}
.frontend-div, .backend-div, .others-div{
  width: 70%;
  background-color: black;
  border: 1px solid #0ef;
  border-radius: 10px;
  padding:25px;
  box-shadow: 0px 0px 20px rgb(77, 77, 142);
  box-sizing: border-box;
  max-width: 300px;
  width:100%
}
.frontend-div:hover, .backend-div:hover, .others-div:hover{
   background-image: linear-gradient(black,#00eeffad ); 
   cursor: pointer;
   transition: 5s all;
}
.skill-container p{
  margin:0px 2.5rem;
}
.myskills-heading h3{
  color:white;
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
}
.aboutMe-container{
  text-align: center;
  font-size: 15px;
  color:white;
  margin-top: 40px;
}
.aboutMe-container h3{
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}
.aboutMe-container a{
  text-decoration: none;
  color:#fff;
}
.aboutMe-container p{
  margin:0px 12%;
  text-align: start;
}
.project-heading{
  text-align: center;
  color:white;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 40px;
  font-weight: 700;
}
.my-projects-container{
  display: flex;
  justify-content: center;
  gap:20px;
  margin: auto;
  color:rgb(227, 221, 221);
}
.my-projects-container .project-1, .project-2,.project-3{
  background-color: black;
  padding: 25px 10px 25px 10px;
  border-radius: 15px;
  border: 1px solid #0ef;
  box-shadow:0px 0px 7px #0ef;
  box-sizing: border-box;
  max-width: 300px;
  width:100%;
  
}
.project-3{
  margin-right: 30px;
}
.my-projects-container .project-1:hover, .project-2:hover,.project-3:hover{
  background: linear-gradient(#00eeffad,rgb(39, 38, 38));
  transition: background-color 2s ease;
  
}
.my-projects-container .image-container {
  text-align: center;;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.my-projects-container h5{
  color:#0ef;
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgb(63, 209, 220);
  margin-bottom: 20px;
}
.project-description{
  padding-left: 35px;
  box-sizing: border-box;
}
.image-container img{
  width:80%;
  height:200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.project-1:hover .image-container img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.project-2:hover .image-container img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.project-3:hover .image-container img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.btn-div{
  margin-top: 20px;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
  gap:13px;
  margin-right: 18%;
  margin-left: 8%;
}
.btn-div .btn{
  width:100%; 
  padding:15px 10px 17px 10px ;
  margin-left: 40px;
  font-size: 1rem;
  color:rgb(227, 221, 221);
  background-color: black;
  box-sizing: border-box;
  border-radius: 10px;
}
.btn-div .btn:hover{
  border:1px solid #0ef;
 
}
.contact-container{
  width:auto;
  height:100%;
}
.contact-container h3{
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  color:white;
  text-align: center;
}
.contact-flex-div{
  display: flex;
  justify-content: center; 
  gap:20px;
  color:white;
  margin-left: 10px;
  margin-right: 10px;

}
.contact-flex-div .imageContainer{
  margin-left: 30px;
}
.imageContainer img{
  border-radius: 10px;
}
.contact-flex-div img {
  width: auto;
  max-width: 500px;
  height: 100%;
  width: auto;
}
.contact-form{
   background-color: black; 
   width:100%;
   padding:40px;
   box-shadow: 0px 0px 30px rgb(43, 42, 42);
   margin-right: 30px; 
   border-radius: 10px;
   box-sizing: border-box;
}
.contact-form label{
  margin-left: 15px;
}
.contact-form input{
  background-color: rgb(25 27 30 );
  padding: 10px;
  width:100%;
  margin:10px;
  border-radius: 5px;
  border:none;  
  color:white;
  box-sizing: border-box;
}
.contact-form textarea{
  background-color: rgb(25 27 30 );
  padding: 10px;
  width:100%;
  margin:10px;
  border-radius: 5px;
  border:none; 
  color:white; 
  box-sizing: border-box;
}
.contact-form input:focus{
   color:white;
}
.name-div{
  display: flex;
  gap:10px;
}
.contact-form button{
  background-color:rgb(25 27 30 );
  padding:10px;
  color:white;
  font-size: 16px;
  border-radius: 5px;
  border:none;
  width:100%;
  margin-left: 13px;
  box-sizing: border-box;
}
.contact-form button:hover{
  border:1px solid #0ef;

}
.resultMessage{
  margin-left: 10px;
  margin-top: 20px;
}
.footer{
  background-color: #262323;
  padding:50px;
  margin:30px 35px;
  border-radius: 10px;
}
.footer .icon-instagram {
  color: #e4405f; 
  font-size: 2rem;
}

.footer .icon-twitter {
  color: #1da1f2; 
  font-size: 2rem;
}
.footer .icon-whatsapp {
  color: #25D366; 
  font-size: 2rem;
}
.footer .icon-linkedin {
  color: #0077B5; 
  font-size: 2rem;
}
.footer .social-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px;
  margin-top: 40px;
}
.footer .icon-linkedin:hover,  .icon-whatsapp:hover, .icon-twitter:hover, .icon-instagram:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.footer-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px; 
  color:white;
  text-decoration: none;
  list-style-type: none;
  margin-top: 30px;
}
.footer-links li a{
  color:white !important;
  text-decoration: none;
  list-style-type: none;
}

@media (max-width: 330px) {
  .heading h4 {
      font-size: 30px !important; 
  }
  .heading .my-name{
    font-size: 30px !important;
  }
  .heading h1{
    font-size: 30px;
  }
}
@media (max-width:380px){
  .profile img {
    width: 100%;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #0ef;
    box-shadow: 0px 0px 1rem #0ef,inset 0 0 1rem #0ef;
    margin-top: 10px;
    margin-left: 30px;
}
}
@media  (max-width: 800px){
  .profile{
    display: flex ;
    flex-direction: column;
    margin-bottom: 20px;
    width:100%;
    gap:0px;
  }
  .profile img{
    margin-left: 40px;
  }
  .profile .heading{
    margin-left:23px;
    margin-top: 30px;
  }
  .skill-container {
    padding: 8px;
    margin-right: 0px;
    margin-left: 0px;
}
  .contact-flex-div{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap:20px;
    color:white;
    margin-right: 0px;
  }
  .contact-form{
    margin-right: 0px;
  }
  .contact-form .name-div{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:0px;
  }
  .contact-flex-div .imageContainer{
    margin-left: 0px;
    padding:7px;
  }
  .contact-flex-div img{
    width:auto; 
  }
  .my-projects-container .project-1, .project-2,.project-3{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #0ef;
    box-shadow:0px 0px 7px #0ef;
    box-sizing: border-box;
    max-width: 100%;
    
  }
  .project-3{
    margin-right: 15px;
  }
  .btn-div{
      gap:13px;
      margin-right: 14%;
      margin-left: 8%;

  }
  .btn-div .btn{
margin-left: 10px;
  }
  nav .checkbox{
    display: block;
  }
  ul{
    /* position: absolute; */
    width:100%;
    /* height:calc(100vh-85px); */
    left:-100%;
    top:85px;
    flex-direction: column;
    justify-content: center;
    gap:3rem;
  }
  nav #check:checked ~ ul{
    left:0;
  }
  label{
    color:white;
    font-size: 20px;
    font-weight: 600;
    padding:10px;
  }
};
@media (max-width:600px){.skill-set-div{flex-direction: column;}.backend-div, .frontend-div, .others-div{padding:20px !important;max-width:100%;width:auto !important;margin:0 2.5rem !important;box-sizing: border-box;}.contact-form{margin-right: 0px !important;padding:28px 28px 28px 10px !important}.contact-flex-div{margin-right: 10px !important;gap:0 !important;}.contact-flex-div img{width:100% !important} .footer{margin:5px 13px 0px !important;padding:30px !important}.social-web-container{gap:0 !important}.skill-container p{text-align: center !important;}.aboutMe-container h3{margin-bottom: 20px !important;} .aboutMe-container p{text-align: center !important;}.nav-links{height:192px;gap:0 !important;top:78px !important}}





 
